<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net46" />
  <package id="FluentMetacritic" version="1.0.0.1" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net46" />
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NLog" version="4.4.0-betaV15" targetFramework="net46" />
  <package id="NLog.Config" version="4.3.7" targetFramework="net46" />
  <package id="NLog.Schema" version="4.3.7" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net46" />
  <package id="TMDbLib" version="0.9.6.0-alpha" targetFramework="net46" />
</packages>